extends layouts/main-layout.pug  
block content 
  main
    if prods.length > 0
      .grid 
        each product in prods 
          article.card.product-item
            header.card__header
              h1.product__title #{product.title} 
            .card__image 
              img(src="https://thumbs.dreamstime.com/b/stack-books-23026923.jpg", alt="A book")
            .card__content
              h2.product__price $19.99
              p.product__description A very interesting book about so many even more evolution of humans fact !
            .card__article 
              button.btn Add to cart 
    else 
      h2 No product
